.menu {
	line-height: 40px;
	margin: 0;
	font-size: 15px;
	padding: 0;
	list-style-type: none;
	color: @color_black;
	font-weight: 300;

	ul {
		font-size: 14px;
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1) !important;
		position: absolute;
		text-align: left;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		margin: 0;
		list-style-type: none;
		box-shadow: 1px 1px 2px rgba(0,0,0,.05);
		border: 1px solid lighten(@color_grey-light, 8%);

		.header-over & {
			box-shadow: none;
			border: 0;
		}

		ul {
			top: 0;
			left: 100%;
			margin-left: 1px;
		}
	}

	li {
		position: relative;
		white-space: nowrap;
		*white-space: normal;
		text-align: center;

		&:hover > ul {
			display: block;
			-webkit-transition: none;
			transition: none;
		}
	}

	a {
		display: block;
		line-height: 1;
		position: relative;
		padding: 10px 15px;
		color: inherit;
		text-decoration: none;
	}

	& > li {
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		*display: inline;
		position: relative;
	}

	& > li > ul {
		top: 57px;
		left: 50%;
		margin-top: -1px;

		.header-over & {
			top: 47px;
		}

		li {
			background-color: white;
			border-bottom: 1px solid lighten(@color_grey-light, 8%);

			&:first-child {
				border-radius: 3px 3px 0 0;
			}

			&:last-child {
				border-radius: 0 0 3px 3px;
			}

			a {
				position: relative;
				&:hover {
					color: @color_blue;

					&:before {
						opacity: 1;
					}

          width: 60%;
				}

				padding: 15px 25px;

				&:after {
					position: absolute;
					content: '';
					display: block;
					width: 0;
					height: 1px;
					left: 50%;
					bottom: -1px;
					background-color: lighten(@color_blue, 10%);
				}
			}
		}
	}
}

.menu-label {
	position: absolute;
	top: -16px;
	left: 50%;
	font-size: 9px;
	padding: 0px 8px;
	height: 18px;
	border-radius: 4px;
	color: white;
	background-color: @color_blue;
	line-height: 18px;
	letter-spacing: 1px;

	&:after {
		content: '';
		position: absolute;
		display: block;
		background-color: @color_blue;
		z-index: -1;
		width: 3px;
		height: 3px;
		bottom: -1px;
		left: 50%;
		margin-left: -2px;
	}
}
