$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1040px,
  xxl: 1140px
);

$blue: #28C;
$zindex-offcanvas: 2000;
$input-placeholder-color: #ccc;

$body-color: #808488;
$headings-color: #1a1a1a;
$navbar-padding-y: 10px;

// Configuration
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/utilities";

// Layout & components
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
@import "../vendor/bootstrap/scss/transitions";
// @import "../vendor/bootstrap/scss/dropdown";
// @import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
// @import "../vendor/bootstrap/scss/card";
// @import "../vendor/bootstrap/scss/accordion";
// @import "../vendor/bootstrap/scss/breadcrumb";
// @import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
// @import "../vendor/bootstrap/scss/alert";
// @import "../vendor/bootstrap/scss/progress";
@import "../vendor/bootstrap/scss/list-group";
@import "../vendor/bootstrap/scss/close";
// @import "../vendor/bootstrap/scss/toasts";
@import "../vendor/bootstrap/scss/modal";
// @import "../vendor/bootstrap/scss/tooltip";
// @import "../vendor/bootstrap/scss/popover";
// @import "../vendor/bootstrap/scss/carousel";
// @import "../vendor/bootstrap/scss/spinners";
@import "../vendor/bootstrap/scss/offcanvas";
// @import "../vendor/bootstrap/scss/placeholders";

// Helpers
@import "../vendor/bootstrap/scss/helpers";

// Utilities
@import "../vendor/bootstrap/scss/utilities/api";

img {
  @extend .mw-100;
}

.sidebar {
  max-width: 270px !important;
}

article table {
  @extend .table;
  @extend .table-striped;
  @extend .table-sm;
}

// More spacing before article headers
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .mt-4;
  }
}

// Monospace headers are not highlighted
article {
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code {
    @extend .text-dark;
  }
}

.language-plaintext > .highlight {
  @extend .bg-light;
  @extend .border;
  @extend .px-3;
  @extend .py-2;
}

.language-plaintext .highlight {
  @extend .mb-0;
}

.highlighter-rouge {
  margin-bottom: $paragraph-margin-bottom;
}

// https://stackoverflow.com/a/43615091/1641422
td.shrink, th.shrink {
  width: 0.1%;
  white-space: nowrap;
}
