<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Params.destination }}">
  <meta name="description" content="Redirecting to {{ .Title }}">
  <meta http-equiv="refresh" content="1; URL={{ .Params.destination }}" />

  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
  <p>Redirecting to <a href="{{ .Params.destination }}">{{ .Params.destination }}</a>...</p>
</body>
</html>
