{% if page.title %}
<div class="container-fluid px-5 mt-2 mt-lg-5">
{% else %}
<div class="container px-4 mt-2 mt-lg-5">
{% endif %}
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <a href="{{ site.url }}" class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{{ site.url }}/icon.svg" alt="{{ site.name }} logo" width="40" height="40">
    </a>

    <ul class="col-12 col-md-6 nav justify-content-center justify-content-md-end">
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="{{ site.repository }}">GitHub</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="{{ site.repository }}/discussions">Discussions</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% link _docs/architecture.markdown %}">Docs</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="{{ site.repository }}/issues">Issues</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="{{ site.twitter.url }}">Twitter</a></li>
    </ul>
  </footer>
</div>
