<div id="backdrop" class="modal-backdrop fade visually-hidden"></div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas-label">
  <div class="offcanvas-header pb-0">
    <a class="offcanvas-title flex-grow-1 fs-5 text-reset text-decoration-none" href="{{ site.url }}">
      <img src="{{ site.url }}/icon.svg" alt="{{ site.name }} logo" width="50" height="50">
      <span class="text-dark align-middle">{{ site.title }}</span>
    </a>

    <button id="offcanvas-close" type="button" class="btn-close text-reset" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <hr class="mt-0">

    <ul class="nav nav-pills flex-column mb-auto small">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.repository }}/discussions">Discussions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% link _docs/architecture.markdown %}">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.repository }}/issues">Issues</a>
      </li>
    </ul>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto small">
      {% for doc in site.docs %}
        <li class="nav-item">
        {% if doc.url == page.url %}
        <a href="{{ site.baseurl }}{{ doc.url }}" class="nav-link active" aria-current="page">{{ doc.title }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ doc.url }}" class="nav-link">{{ doc.title }}</a>
        {% endif %}
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/api" class="nav-link">C++ API Reference</a>
        </li>
      {% endfor %}

      <li class="nav-item">
        <a class="nav-link disabled" href="#">More documentation coming soon!</a>
      </li>
    </ul>
  </div>
</div>
