{{ $logo := (.Resources.GetMatch "logo.png").Resize "40x40" }}
{{ $logo2x := (.Resources.GetMatch "logo.png").Resize "80x80" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ .Title }}</title>
  <link rel="canonical" href="https://www.jsonbinpack.org">
  <meta name="description" content="{{ .Description }}">

  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="manifest" href="manifest.webmanifest">

	<link rel="stylesheet" href="style.min.css">
</head>
<body>
	<div class="page">
		<header class="header header-over large">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3">
						<a href="https://www.jsonbinpack.org" class="logo-image">
              <img src="{{ $logo.RelPermalink | safeURL }}"
                srcset="{{ $logo2x.RelPermalink | safeURL }} 2x, {{ $logo.RelPermalink | safeURL }} 1x"
                width="40px" height="40px" alt="logo">
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<nav class="right helper">
							<ul class="menu">
                {{ range $.Site.Data.menu }}
                  {{ if .primary }}
                  <li>
                    <a href="{{ .url }}">{{ .name }}</a>
                  </li>
                  {{ end }}
                {{ end }}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<div class="header-back header-back-default header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="page-info helper center">
                <h1 class="page-title">{{ .Title }}</h1>
                <h2 class="page-description">{{ .Params.slogan }}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div id="content">
			<div class="background-gradient-grey">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="promo-title-wrapper helper pt60">
                <h3 class="promo-title" data-icon="&#xe6af">Characteristics</h3>
                <p class="promo-description">JSON BinPack is an open-source binary JSON serialization format with a <b>strong focus on space efficiency</b>. It supports schema-driven and schema-less modes to encode any JSON document given a matching <a href="https://json-schema.org">JSON Schema</a> definition.</p>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="box box-small-icon-alt">
                    <i class="pe-7s-medal box-icon"></i>
                    <h4 class="box-title">Highly Space-efficient</h4>
                    <p class="box-description">A reproducible <a href="https://sourcemeta.github.io/json-size-benchmark/">benchmark study</a> has proven JSON BinPack to be space-efficient in comparison to 12 alternative binary serialization formats in every considered case.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box-small-icon-alt">
                    <i class="pe-7s-server box-icon"></i>
                    <h4 class="box-title">Based on JSON Schema</h4>
                    <p class="box-description">JSON BinPack adopts the industry-standard schema language for JSON documents. Re-use the same schemas you already have in your <a href="https://www.openapis.org">OpenAPI</a>, <a href="https://www.asyncapi.com">AsyncAPI</a> or <a href="https://raml.org">RAML</a> definitions.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="box box-small-icon-alt">
                    <i class="pe-7s-edit box-icon"></i>
                    <h4 class="box-title">Optional Schema</h4>
                    <p class="box-description">JSON BinPack is a hybrid serialization format that runs in schema-driven or schema-less modes. You can be as loose or specific as your use case demands.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box-small-icon-alt">
                    <i class="pe-7s-world box-icon"></i>
                    <h4 class="box-title">Open-source</h4>
                    <p class="box-description">The JSON BinPack encoding specification and its leading implementation are hosted on <a href="https://github.com/jviotti/jsonbinpack">GitHub</a> and released under the commercial-friendly <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache-2.0</a> open-source license.</p>
                  </div>
                </div>
              </div>

              <div class="promo-title-wrapper ">
                <h3 class="promo-title" data-icon="&#xe629">How it works</h3>
                <p class="promo-description">JSON BinPack converts a JSON Schema definition and a matching JSON instance into a <b>space-efficient binary representation</b> that can be deserialized into the original input data without loss of information.</p>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  {{ $example := (.Resources.GetMatch "example.png").Resize "1090x490" }}
                  {{ $example2x := (.Resources.GetMatch "example.png").Resize "2180x980" }}
                  <img src="{{ $example.RelPermalink | safeURL }}"
                    srcset="{{ $example2x.RelPermalink | safeURL }} 2x, {{ $example.RelPermalink | safeURL }} 1x"
                    style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>

			<div class="call-to-action">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="call-to-action-title">Ready to get started?</h3>
              <p class="call-to-action-description">Transmitting smaller payloads <b>reduces operational costs</b> and <b>increases user experience</b></p>
							<div class="call-to-action-buttons">
								<a href="https://github.com/jviotti/jsonbinpack" class="call-to-action-button">Try it out</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="promo-title-wrapper">
							<h3 class="promo-title" data-icon="&#xe667">FAQ</h3>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="faq-grid">
									<h4 class="faq-grid-question">What about data compression?</h4>
                  <p class="faq-grid-answer">Our reproducible <a href="https://sourcemeta.github.io/json-size-benchmark/">benchmark study</a> shows that the semantic information provided by detailed schema definitions enables a serialization format such as JSON BinPack to often outperform general-purpose compressors configured with even their highest supported compression levels.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="faq-grid">
									<h4 class="faq-grid-question">What about runtime-efficiency?</h4>
									<p class="faq-grid-answer">When transmitting data over the Internet, time is the bottleneck, making computation essentially free in comparison. JSON BinPack particularly excels at improving network performance when transmitting data through unreliable and low-bandwidth connections on mobile and IoT systems.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="faq-grid">
									<h4 class="faq-grid-question">Where did this come from?</h4>
                  <p class="faq-grid-answer">JSON BinPack is the result of extensive binary serialization research at University of Oxford. The project is led by <a href="https://www.jviotti.com">Juan Cruz Viotti</a>, a computer scientist with first-hand exposure at the problem of space-efficient network communication in the context of IoT and APIs.</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="helper center">
									<a href="https://github.com/jviotti/jsonbinpack" class="faq-grid-show-more">TRY IT OUT</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer-extended">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="footer-extended-container">
								<div class="row">
									<div class="col-md-2 col-sm-2 col-xs-6">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Users</h5>
											<ul class="footer-extended-menu-list">
												<li>
													<a href="https://www.npmjs.com/package/jsonbinpack">Releases</a>
												</li>
												<li>
													<a href="https://github.com/jviotti/jsonbinpack/tree/main/docs">Docs</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-6">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Development</h5>
											<ul class="footer-extended-menu-list">
												<li>
													<a href="https://github.com/jviotti/jsonbinpack">Source Code</a>
												</li>
												<li>
													<a href="https://github.com/jviotti/jsonbinpack/issues">Issues</a>
												</li>
												<li>
													<a href="https://github.com/jviotti/jsonbinpack/discussions">Discussions</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-6">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Sourcemeta</h5>
											<ul class="footer-extended-menu-list">
                        {{ range $.Site.Data.sourcemeta }}
                          <li>
                            <a href="{{ .url }}">{{ .title }}</a>
                          </li>
                        {{ end }}
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Research</h5>
											<ul class="footer-extended-menu-list">
                        {{ range $.Site.Data.papers }}
                          <li>
                            {{ if isset . "url" }}
                            <a href="{{ .url }}">{{ .title }}</a>
                            {{ else }}
                            (Coming Soon) {{ .title }}
                            {{ end }}
                          </li>
                        {{ end }}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="footer-logo-wrapper">
								<a href="https://www.jsonbinpack.org" class="logo-image">
                  <img src="{{ $logo.RelPermalink | safeURL }}"
                    srcset="{{ $logo2x.RelPermalink | safeURL }} 2x, {{ $logo.RelPermalink | safeURL }} 1x"
                    width="40px" height="40px" alt="logo">
								</a>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
              <ul class="footer-menu helper right">
                {{ range $.Site.Data.menu }}
                  <li>
                    <a href="{{ .url }}">{{ .name }}</a>
                  </li>
                {{ end }}
              </ul>

              <p class="copyright helper right">
                <a href="https://www.jviotti.com">Juan Cruz Viotti</a>. All rights reserved. 2022 &copy;
              </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
